.login{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form .passShowHide{
    position: relative;
}
.login form .passShowHide p{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}